<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>New Web Lead</h2>
    <p>
      <%= @web_lead.inspect %>
    </p>
  </body>
</html>
