<div class="flex flex-col items-center">
  
  <% if event.payment && !event.payment.confirmed? %>
    <% if event.payment.pending? %>
      <% if current_user.owns?(event.service) && event.past? %>
        <%= link_to 'Pago pendiente', edit_payment_path(event.payment),class: "mt-3 rounded-lg py-3 px-5 bg-yellow-100 font-medium" %>
      <% else %>
        <%= link_to 'Reportar pago', edit_payment_path(event.payment), class: "mt-3 rounded-lg py-3 px-5 bg-green-100 font-medium" %>
      <% end %>
    
    <% elsif event.payment.reported? && current_user.owns?(event.service) %>  
      <%= link_to 'Confirmar pago', edit_payment_path(event.payment), class: "bg-green-100 mt-3 rounded-lg py-3 px-5 font-medium" %>
    <% end %>
  <% end %>

  <%= button_to event.blocked? ? 'Desbloquear esta cita' : 'Cancelar esta cita',
      event_path(event), method: :delete,
      form: { data: { turbo_confirm: "¿Confirmas que deseas proceder?" } },
      class: "mt-3 rounded-lg py-3 px-5 bg-red-100 font-medium" unless event.past? %>
</div>


