<div class="mx-auto md:w-1/4 w-full text-center">
  <div class="flex justify-between items-center mb-8">
    <h1 class="font-bold text-3xl"><%= t(:event)%></h1>
    <%= link_to t(:back), service_slots_path(@service), class: "rounded-lg py-3 px-5 bg-gray-100 text-gray-500 block font-medium" %>
  </div>

  <%= render @event %>

  <%= render "form", event: @event %>
</div>
