<div class="w-full text-center">
  <div class="flex justify-between items-center mb-8">
    <h1 class="font-bold text-3xl">Cita</h1>
    <%= link_to 'Regresar', service_slots_path(@service), class: "rounded-lg py-3 px-5 bg-gray-100 block font-medium" %>
  </div>

  <%= render @event %>

  <%= render "form", event: @event %>
</div>
