<div class="text-center">
  <p class="my-2">
    <strong class="block font-large mb-1"><%= income.period %></strong>
  </p>

  <p class="my-2">
    <strong class="block font-medium mb-1"><%= income.totals %></strong>
  </p>
</div>
