<div class="text-center">
  <p class="mt-5">
    <strong class="block font-large mb-1"><%= l(income.period, format: :month_year).titleize %></strong>
  </p>

  <p class="my-2">
    <% income.totals.each do |currency, amount| %>
      <p class="py-2 px-3 bg-green-50 text-green-500 font-medium rounded-lg inline-block">
        <%= number_to_currency(amount, unit: Payment::CURRENCY_SYMBOLS[currency]) %>
      </p>
    <% end %>
  </p>
  <hr class="mt-4">
</div>