<%= link_to slot_rule_path(
  slot_rule,
  ), class: "rounded-lg mt-1 mx-1 py-3 px-5 bg-gray-100 inline-block font-medium" do %>
  <% if slot_rule.short_note.present? %>
    <span class="text-xs"><%= slot_rule.short_note %><br></span>
  <% end %>
  <%= slot_rule.time %>
<% end %>
