<div class="mx-auto md:w-1/4 w-full">
  <h1 class="font-bold text-4xl">New slot rule</h1>

  <%= render "form", slot_rule: @slot_rule %>

  <%= link_to 'Back to slot rules', slot_rules_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
