<div class="mx-auto md:w-1/4 text-center w-full">
  <h1 class="font-bold text-2xl"><%= t(:new_slot_rule) %></h1>

  <%= render "form", slot_rule: @slot_rule %>

  <%= link_to t(:back), service_slot_rules_path(@service), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 text-gray-500 inline-block font-medium" %>
</div>