<div class="w-full text-center">
  <div class="flex justify-between items-center mb-8">
    <h1 class="font-bold text-3xl">Pago</h1>
    <%= link_to 'Regresar', service_events_path(@payment.event.service), class: "rounded-lg py-3 px-5 bg-gray-100 block font-medium" %>
  </div>

  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <%= render @payment.event %>

  <hr class="mt-6">

  <%= render "form", payment: @payment %>
</div>
