<p>Hola <%= @resource.email %>!</p>

<p>Se ha solicitado un cambio de clave. Puedes hacerlo en este link:</p>

<p><%= link_to 'Cambiar mi clave', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no has solicitado un cambio de clave, ignora este correo.</p>
<p>Tu clave no cambiará hasta que accedas al link y crees una clave nueva.</p>
